body {
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
    overflow: hidden;
    cursor: pointer;
    animation: squig-l-vision 0.2s infinite;
  }
  
  section {
    width: 100vw;
    height: 100vh;
    display: grid;
    min-width: 1400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    place-items: center;
    perspective: calc(800px + 50vw);
  }
  
  .fire-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 853px;
    height: 481px;
    position: relative;
  }
  
  .surface {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-style: preserve-3d;
    transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.75);
    will-change: transform;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .surface:before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    transform: translateZ(80px);
    z-index: 9;
    box-shadow: inset 0 0 0 5px #1E1205, 0 0 0 50vw #fff;
    transform-style: preserve-3d;
  }
  
  /* Layer styles */
  .flames {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/flames_copy.png');
    transform: translateZ(55px);
  }
  
  .flames2 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/flames2-1.png');
    transform: translateZ(40px);
  }
  
  /* Add other layer styles similar to above */
  
  @keyframes squig-l-vision {
    0% {
      filter: url('#squiggly-0');
    }
    25% {
      filter: url('#squiggly-1');
    }
    50% {
      filter: url('#squiggly-2');
    }
    75% {
      filter: url('#squiggly-3');
    }
    100% {
      filter: url('#squiggly-4');
    }
  }
  
  /* Grid hover effects */
  /* You'll need to add hover effects for each grid position */